@charset "UTF-8";

.gohan {
  margin: auto 0;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: #dedede;
 }
 
 .gohan tr:nth-child(odd) {
   background-color: #ecf1f2;
 }
 
 th {
   background-color: #2244aa;
   color: white;
   border: solid 1px #ecf1f2;
   border-collapse: collapse;
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   padding: 10px;
 }
 
 td {
  color: black;
  border: solid 1px #ecf1f2;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
 }

 .gohan tr:last-child {
   border-top: dotted 2px #000;
 }

/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */